body {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    flex: auto;
    background-color: #EEEEED;


}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 50px;
   

    
}

input {
    border-radius: 25px;
    height: 20px;
   
}

.navigationBar {
    display: flex;
    justify-content: space-around;
    background-color: #EEEEED;
    gap: 100px;
    align-items: center;
    color: #303A8B;
    font-weight: bolder;
    font-size: large;

}



.heading1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #303A8B;

}

.searchbox {
    border-color: #303A8B;
    border-style: solid;
    padding: 20px 119px 20px 119px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
    font-weight: bolder;
    background-color: #303A8B;
    color: white;

   
}

.boxsize {
    width: 861px;
    height: 200px;
    box-sizing: border-box;
    
}

.row1{
   display: flex;
   gap: 10px;
   
}

.row2 {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    
}


.buttomPosition {
   display:flex ;
   justify-content: center;
   padding-top: 30px;
   border-radius: 12px;
   gap: 10px;
   

     
}

.commonMedication{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;

}

.footer {
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    background-color: #303A8B;
    color: white;
    
}

.highlightMed {
    display: flex;
    max-width: 600px;
    max-height: 500px;
    gap: 10px;
}
